
.navbar-logged, nav{
    width: 100%;
    color: #007bff;
    background-color: transparent;
    overflow: auto;

}


.navbar-logged, nav li a:hover{
    background-color: transparent;
}

/*.navbar-logged a {*/
/*    !*float: left;*!*/
/*    !*padding: 12px;*!*/
/*    !*color: white;*!*/
/*    !*text-decoration: none;*!*/
/*    !*font-size: 17px;*!*/
/*    !*width: 12%; !* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. *!*!*/
/*    !*text-align: center; !* If you want the text to be centered *!*!*/
/*    */
/*}*/

.navbar-guest{
    width: 100%;
    background-color: transparent;
    overflow: auto;

}

.navbar-guest li a:hover{
    background-color: transparent;
}



body {
    color: white;
    margin: 0;
}

.hotel-booking label, input {
    display:block;
}

input{
    box-sizing: border-box;
}

.container {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.75;
}

.hotel-booking {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.hotel-booking label{
    margin: 5px 10px 5px 0;
    color: white;
}

.hotel-booking input{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.hotel-booking option{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.hotel-booking button{
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.hotel-booking button:hover{
    background-color: royalblue;
}

@media (max-width: 800px) {
    .hotel-booking input {
        margin: 10px 0;
    }

    .hotel-booking {
        flex-direction: column;
        align-items: stretch;
    }
}

.form-signin {
    background-color: transparent;
}

/*navbar-logged and navbar-guest*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    color: white;
    background-color: #007bff;
    filter: alpha(opacity=50);
    opacity: 0.90;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: transparent;
}

.welcome{
    color: whitesmoke;
    position: absolute;
    left: 40%;
    bottom: 15%;
}

.heaven{
    color: whitesmoke;
    position: absolute;
    left: 42%;
    bottom: 11%;
}

.explanation{
    color: whitesmoke;
    position: absolute;
    left: 38%;
    bottom: 5%;
}

footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #007bff;
    color: white;
    filter: alpha(opacity=50);
    opacity: 0.75;
}

.footer a{
    color: white;
}

img{
    max-width: 100%;
}

@media (min-device-width:600px) {

    img[data-src-600px] {

        content: attr(data-src-600px, url);

    }

}

@media (min-device-width:800px) {

    img[data-src-800px] {

        content: attr(data-src-800px, url);

    }

}

.all-users{
    color: whitesmoke;

}

.all-users div{
    bottom: 40%;
}

.error-page{
    color: white;
}

.resort-info{
    color: whitesmoke;
    position: absolute;
    right: 1%;
    bottom: 5%;
}

.confirmation{
    position: absolute;
    color: white;
    left: 40%;
    bottom: 15%;
}