<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="nav">
    <th:block th:include="~{fragments/navbar-admin}"></th:block>
</nav>
<!--<img src="resources/static/img/weekuri-lagoon.jpg" alt="neraboti">-->

<header>

</header>

<style>
    body {
        background-image: url('/img/white-lagoon.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="col-xl-7 col-lg-7 col-md-12">

    <form th:action="@{/users/add-event}" th:method="POST" th:object="${exerciseAddBindingModel}"
          class="tm-edit-product-form">
        <div class="input-group mb-3">
            <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Name
            </label>
            <input th:field="*{name}" th:errorclass="bg-danger" id="name" name="name" type="text"
                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"/>

        </div>

        <th:block th:each="error : ${#fields.errors('name')}">
            <div class="input-group mb-3 justify-content-center">

                <small th:text="${error}" class="text-danger">Exercise name length must be more than
                    2 characters</small>

            </div>
        </th:block>

        <div class="input-group mb-3">
            <label for="startedOn" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">StartedOn
                Date
            </label>
            <input th:field="*{startedOn}" th:errorclass="bg-danger" id="startedOn" name="startedOn"
                   type="datetime-local"
                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                   data-large-mode="true"/>

        </div>

        <th:block th:each="error : ${#fields.errors('startedOn')}">
            <div class="input-group mb-3 justify-content-center">

                <small th:text="${error}" class="text-danger">The date cannot be in the
                    future!</small>

            </div>
        </th:block>

        <!--                            <th:block th:each="error : ${#fields.errors()}">-->
        <!--                                <div class="input-group mb-3 justify-content-center">-->

        <!--                                    <small th:text="${error}" class="text-danger">The date cannot be in the-->
        <!--                                        future!</small>-->

        <!--                                </div>-->
        <!--                            </th:block>-->

        <div class="input-group mb-3 ">

            <label for="dueDate" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Due Date
            </label>
            <input th:field="*{dueDate}" th:errorclass="bg-danger" id="dueDate" name="dueDate"
                   type="datetime-local"
                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                   data-large-mode="true"/>
        </div>

        <th:block th:each="error : ${#fields.errors('dueDate')}">
            <div class="input-group mb-3 justify-content-center">

                <small th:text="${error}" class="text-danger">The date cannot be in the
                    past!</small>

            </div>
        </th:block>

        <div class="input-group mb-3">
            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                <button type="submit" class="btn btn-primary">Add
                </button>
            </div>
        </div>
    </form>

</div>


<footer>
    <th:block th:include="~{fragments/footer}"></th:block>

</footer>


</body>
</html>