<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="nav">
    <th:block th:include="~{fragments/navbar-logged-user}"></th:block>
</nav>
<!--<img src="resources/static/img/weekuri-lagoon.jpg" alt="neraboti">-->

<header>

</header>

<main class="error-page">

    <div class="error-page">

        <h2>Ooops. Something went wrong :))</h2>
        <div>
            <h3  th:utext="${message}" style="font-size: 25px; color: whitesmoke;"></h3>
        </div>
        <h4><a class="error-page" th:href="@{/home}">Go back to Home Page</a></h4>

        <span style="visibility: hidden">....</span>
    </div>

</main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>

</footer>


</body>
</html>