<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="nav">
    <th:block th:include="~{fragments/navbar-logged-user}"></th:block>
</nav>
<!--<img src="resources/static/img/weekuri-lagoon.jpg" alt="neraboti">-->

<header>

</header>

<style>
    body {
        background-image: url('/img/panorama.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<footer>
    <th:block xmlns:th="http://www.thymeleaf.org">
        <div class="col-12 container-fluid text-right font-weight-light">
            <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                Footer footer
            </p>
        </div>
    </th:block>
</footer>


</body>
</html>