<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="nav">
    <th:block th:include="~{fragments/navbar-guest}"></th:block>
</nav>
<!--<img src="resources/static/img/weekuri-lagoon.jpg" alt="neraboti">-->

<header>

</header>

<h2 class="welcome">Azure Lagoon Resort</h2>
<h5 class="heaven">Piece of heaven to discover</h5>
<p class="explanation">Please login to be able to book one of our services</p>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>

</footer>


</body>
</html>