<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="nav">
    <th:block th:include="~{fragments/navbar-guest}"></th:block>
</nav>
<!--<img src="resources/static/img/weekuri-lagoon.jpg" alt="neraboti">-->

<header>

</header>

<div class="resort-info">
<!--    <img src="/img/view.jpg">-->
    <p>
        Azure Lagoon Holiday Club is just a piece of Heaven to be discovered by you.<br>
        Situated on the North-East coast of Bulgaria, the resort provides comfort and luxe in Scandinavian style.<br>
        With its several parts, the complex has something for every taste.<br>
        It is a favourite place for vacantion because of the golden sand, the soft sea, the fresh air,<br>
        the various means of accommodation, the delicious food and fresh drinks, and the traditional friendly attitude.<br>
        <br>
        Come to enjoy it!
    </p>

</div>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>

</footer>


</body>
</html>